<head><title><%= title %></title>
    <head>
        
        <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="//use.edgefonts.net/lobster.js"></script>
        <style>
        .titleview{
            font-family: lobster, serif;
        }
        </style>
    </head>
</head>