<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">iLoveMyCity</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/banglore">Banglore</a></li>
            <li><a href="/mumbai">Mumbai</a></li>
            <li><a href="/chennai">Chennai</a></li>
            <li><a href="/hyderabad">Hyderabad</a></li>
            <li><a href="/newdelhi">New Delhi</a></li>
          </ul>
        </div>
      </nav>