<html>
    <% include partials/head.ejs %>

    <body>
        <% include partials/menu.ejs %>
        <br>
        <br>
        <div class="container">
              <div class="row">
              <div class="col-md-12 text-center">
                  <h1 class="titleview">Every city has something to say!</h1></div>
          </div>
          <div class="row">
              <div class="col-md-12 ">
                <img class="img-responsive" src=" images/forBlog4.jpg">
            </div></div></div>
    </body>
</html>